:is([prose=""], .prose) {
  a {
    text-decoration: none !important;
  }

  :not(h1, h2, h3, h4, h5)>a {
    display: inline-block;
    line-height: 1.5;
    border-bottom: 1px dashed rgba(var(--c-text), 0.5);
    text-decoration: none !important;
    transition: border-bottom 0.3s ease-in-out;
  }

  :not(h1, h2, h3, h4, h5)>a:hover {
    border-bottom: 1px solid rgba(var(--c-text), 0.72);
  }

  code {
    font-family: dank !important;
    font-size: 13px;

    &::after, &::before {
      content: '';
    }
  }

  strong {
    color: rgba(var(--c-text), 0.8);
  }

  :not(pre) > code {
    display: inline-block;
    padding: 0 4px;
    border-radius: 0.4em;
    line-height: 1.5;
    background-color: rgba(var(--c-text), 0.05);
    border: 1px solid rgba(var(--c-text), 0.1);
  }

  blockquote {
    border-left: 0.1em solid rgba(var(--c-text), 0.5);
  }
}

