:root {
  --default: #adbac7;
  --bg-default: #040d21;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html * {
  cursor: none !important;
}

body {
  background-color: var(--bg-default);
  color: var(--default);
}
