@import './base.scss';

// #nprogress .bar {
//   background: #FBD3E9;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

 $bg: #fefefe;

 textarea.el-textarea__inner{
  //  background: url('http://qfr5vuqoo.hn-bkt.clouddn.com/comment.png') right bottom no-repeat;
 }

.el-timeline-item__node--normal{
  left: 0 !important;
}
.detail-Dialog .el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}
.popper {
  padding: 0 !important;
  background: #292a2b !important;
  &.el-popper{
    border: 1px solid #292a2b;
  }
  &.el-popper[x-placement^=right] .popper__arrow{
    border-right-color: #292a2b;
    &::after {
      border-right-color: #292a2b;
    }
  }
}
.__vuescroll {
  .__panel{
    .__view{
      height: 100%;
    }
  }
}
.noteTable{
  .el-table__body-wrapper{
    &::-webkit-scrollbar {
            width: 6px;
            height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: transparent;
        transition: background .3s ease-in-out;
    }
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
        border-radius: 6px;
        background: transparent;
    }
    &:hover{
      &::-webkit-scrollbar-thumb {
        background: #dddee0;
        cursor: pointer;
      }
    }
  }
}
.right{
  &.el-drawer{
    background-color:rgba($color: #fafafa, $alpha: .9) !important;
  }
}
.night{
  .right{
    &.el-drawer{
      background-color: rgba($color: #151518, $alpha: .9) !important;
    }
  }
  textarea.el-textarea__inner{
    color: #999;
  }
  .replyComponent{
    background: rgba($color: #999, $alpha: .2);
  }
}