html,
body {
  /* --uno: h-full base; */
}

html * {
  --uno: cursor-none!;
}

/* html {
  --uno: bg-$bg;
}

html.dark {
  --uno: bg-$bg-dark;
} */

body{
  --uno: h-full base bg-$bg bg-$bg-dark;
}

body::-webkit-scrollbar {
  --uno: w0;
}

::selection {
  --uno: dark:badge-light dark:important-text-op-65 badge-warmgray;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
