html,
body {
  --at-apply: h-full base;
}

html * {
  cursor: none !important;
}

html {
  background: #fefefe;
}
html.dark{
  background: #1c1f24;
}

body::-webkit-scrollbar{
  --at-apply: w0;
}

.prose, [prose=""]{
  max-width: 75ch !important;
}

:is([prose=""],.prose) :where(p):not(:where(.not-prose,.not-prose *)){
  --at-apply: base important-text-op-70;
}
