:root {
  --bg: #fefefe;
  --text: #3D4248;
  --dark-bg: #1F2023;
  --dark-text: #C8CCD0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg);
  color: var(--text);
  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }
}
