html,
body {
  --at-apply: h-full base;
}

html * {
  cursor: none !important;
}

html {
  background: #fefefe;
}

html.dark {
  background: #1c1f24;
}

body::-webkit-scrollbar {
  --at-apply: w0;
}

::selection {
  --at-apply: dark:badge-light dark:important-text-op-65 badge-warmgray;
}
