html * {
  --uno: important-cursor-none;
}

body{
  --uno: h-full trans text bg;
}

body::-webkit-scrollbar {
  --uno: w0;
}

::selection {
  --uno: dark:badge-light dark:important-text-op-65 badge-warmgray;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

.transLogo {
  view-transition-name: logo;
}

.transNavMenu {
  view-transition-name: nav-menu;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}
.bg-stars{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
