.prose, [prose=""] {
  max-width: 75ch !important;
}

.prose hr, [prose=""] hr{
  transform: scale(1, 0.5);
  --un-prose-hr: #c8ccd0;
  border-style: dashed;
}

:is([prose=""], .prose) :where(p):not(:where(.not-prose, .not-prose *)) {
  --at-apply: base;
}

:is([prose=""], .prose):not([origin=""], .origin) :where(p):not(:where(.not-prose, .not-prose *)) {
  --at-apply: important-text-op-80;
}
