.prose, [prose=""]{
  max-width: 75ch !important;
}

:is([prose=""],.prose) :where(p):not(:where(.not-prose,.not-prose *)){
  --at-apply: base;
}

:is([prose=""],.prose):not([origin=""],.origin) :where(p):not(:where(.not-prose,.not-prose *)){
  --at-apply: important-text-op-80;
}
